<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <!--<title>Presupuesto Prosip</title>-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="css/template.css" />
</head>

<body>
  <div id="app">
    <div id="container">
      <div class="invoice-top">
        <section id="memo">
          <div class="logo"><img src="img/logo_white.png" alt="prosip" /></div>

          <div class="company-info">
            <span class="company-name" id="title_app">Prosip</span>

            <span class="spacer"></span>

            <div>Telefono: +569 56873083</div>
            <span class="spacer"></span>
            <div>Correo: jbarros@prosip.cl</div>
            <span class="spacer"></span>
            <div>Web: https://www.prosip.cl</div>
          </div>
        </section>

        <section id="invoice-info">
          <div>
            <span>Cliente:</span> <span>Empresa:</span> <span>Correo:</span>
            <span>UF Referencial: </span> <span>Fecha:</span>
          </div>

          <div>
            <span><strong id="cliente_app"></strong></span>
            <span><strong id="cliente_empresa_app"></strong></span>
            <span><strong id="cliente_email_app"></strong></span>
            <span><strong id="uf_app"></strong></span>
            <span><strong id="fecha_app"></strong></span>
          </div>

          <span class="clearfix"></span>

          <section id="invoice-title-number">
            <span id="title">Cotización</span> <br />
            <span id="nro_app"></span>
          </section>
        </section>

        <section id="client-info">
          <!--<span id="maxsize"><strong>PROYECTO</strong></span>-->
          <!--<div>
            <span>Cotización: <strong> PRO_CUB 001</strong></span>
          </div>-->

          <div>
            <span>Nombre del Proyecto: <strong id="nombre_app"> </strong></span>
          </div>

          <div>
            <span>Versión: <strong id="version_app"> </strong></span>
          </div>

          <div>
            <span>Ubicación: <strong id="ubicacion_app"> </strong></span>
          </div>

          <div>
            <span>Zona térmica: <strong id="zona_app"> </strong></span>
          </div>

          <div>
            <span>M2: <strong id="m2_app"> </strong></span>
          </div>
        </section>

        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>

      <div class="invoice-body">
        <section id="items">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th>ITEM</th>
              <th>PRODUCTO</th>
              <th>CANTIDAD</th>
              <th>PU</th>
              <th>SUBTOTAL</th>
              <th>TOTAL</th>
              <th>VALOR UF / M2</th>
            </tr>

            <tr>
              <td>Paneles SIP</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="sip_app"></td>
              <td id="ufm2sip_app"></td>
            </tr>

            <tr id="panel75a_app"></tr>
            <tr id="panel90_app"></tr>
            <tr id="panel114_app"></tr>
            <tr id="panel140_app"></tr>
            <tr id="panel162_app"></tr>
            <tr id="panel182_app"></tr>
            <tr id="panel210_app"></tr>

            <tr>
              <td>Elementos Complementarios</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="elecomp_app"></td>
              <td id="ufm2comp_app"></td>
            </tr>

            <tr id="cep2x3_app"></tr>
            <tr id="cep2x4_app"></tr>
            <tr id="cep2x6_app"></tr>
            <tr id="cep2x8_app"></tr>
            <tr id="cep41x54_app"></tr>
            <tr id="cep41x116_app"></tr>
            <tr id="cep41x158_app"></tr>



            <tr id="torn6x1_app"></tr>
            <tr id="torn8x3_app"></tr>
            <tr id="turbo14x5_app"></tr>
            <tr id="turbo8_app"></tr>
            <tr id="turbo10_app"></tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>


            <tr>
              <td>Resumen</td>
              <td></td>
              <td></td>
              <td></td>
              <td>TOTAL NETO</td>
              <td><strong id="neto_app"></strong></td>
              <td id="ufm2neto_app"></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>IVA</td>
              <td id="iva_app"></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>TOTAL C/IVA</td>
              <td><strong id="tociva_app"></strong></td>
              <td id="ufm2civa_app"></td>
            </tr>


          </table>
        </section>

        <div class="clearfix"></div>

        <section id="terms">
          <span id="titlefull"><strong>PACK PANELES SIP</strong></span>
          <br>
          <br>
          <span><strong>QUE INCLUYE</strong></span>
          <div>
            Paneles SIP enteros (Formato 122x244 cm) para dimensionar en obra.
          </div>
          <div>Maderas y fijaciones propias del Sistema SIP.</div>
          <br />
          <hr />
          <span><strong>SERVICIOS ADICIONALES (No incluidos)</strong></span>
          <div>
            Diseño estructura SIP optimizada y coordinada con arquitectura y calculo. Valor desde 0,2 UF/m2
          </div>
          <div>Despacho: Enviamos Packs de Paneles SIP a todo Chile.</div>
          <div>Instalación: Montaje en terreno de estructura SIP. Valor desde 1,5 UF/m2 (Ref. Zona Central).</div>
          <br />
          <hr />
          <span><strong>PLAZOS</strong></span>
          <div>
            Diseño estructura SIP: 5 días hábiles propuesta inicial +
            correcciones.
          </div>
          <div>Fabricación y despacho PACK: 15 días hábiles.</div>
          <br />
          <hr />
          <span><strong>CONDICIONES COMERCIALES</strong></span>
          <div>Valores + IVA.</div>
          <div>
            Diseño de estructura SIP: Pago 100% junto a Orden de compra.
          </div>
          <div>
            Pack de Paneles SIP + Materiales de Montaje : Pago 100% junto a
            Orden de compra.
          </div>
          <div>
            Instalación: Pago 50% junto a Orden de compra / 50% al termino de la
            instalación.
          </div>
          <div>Transferencia bancaria.</div>
          <div>
            Tarjetas de crédito bancarias (Webpay con un recargo del 3%).
          </div>
          <br />
          <hr />
          <span><strong>INFORMACIÓN DE COMPRA Y FACTURACIÓN</strong></span>
          <div>Razón Social: Proyectasip SpA</div>
          <div>RUT: 76.510.913-2</div>
          <div>Alejandro Serani Sur 9477, Vitacura</div>
          <div>administracion@prosip.cl</div>
          <div>Banco Chile. Cuenta Corriente N.º 268 03909 - 07</div>
          <br />
          <hr />
          <span><strong>NOTAS</strong></span>
          <div>
            Valor calculado por Prosip en base a la información entregada por el cliente. Cubicador Prosip no garantiza
            volumen optimizado.
          </div>
          <div>La precision del resultado dependera del tamaño promedio de vanos de PyV, optimizado de cortes y validez
            de los datos ingresados.</div>
          <div>Cubicacion online considera un 10% de margen respecto a un proyecto diseñado y optimizado SIP.</div>
          <div>Todos los paneles SIP especificados por Prosip cumplen con la reglamentación térmica vigente en Chile
            según OGUC.</div>
          <br />
        </section>
      </div>
    </div>
  </div>

  <script src="generator/generator.min.js?data=data.js"></script>
  <script src="js/main.js"></script>
  
</body>

</html>